<div class="container py-14">
    <div class="sm:flex items-center justify-between">
        <div class="flex items-center">
            <a *ngFor="let option of dropdownOptions"
                class="rounded-full focus:outline-none focus:ring-2 focus:bg-indigo-50 focus:ring-indigo-800 ml-4 sm:ml-3"
                href="javascript:void(0)" (click)="selectOption(option)">
                <div class="py-2 px-8 rounded-full" [ngClass]="{
                    'bg-indigo-100 text-indigo-700': selectedOption === option,
                    'text-gray-600 hover:text-indigo-700 hover:bg-indigo-100': selectedOption !== option
                }">
                    <p>{{ option }}</p>
                </div>
            </a>
        </div>
    </div>

    <div class="overflow-x-auto py-10">
        <table class="table text-gray-400 border-separate space-y-6 text-sm w-full">
            <thead class="bg-stone-200 text-stone-800">
                <tr class="uppercase text-sm leading-normal">
                    <th class="py-3 px-6 text-left">Título</th>
                    <th class="py-3 px-6 text-left">Autor</th>
                    <th class="py-3 px-6 text-left">Gênero</th>
                    <th class="py-3 px-6 text-left">Data de Publicação</th>
                    <th class="py-3 px-6 text-left">Páginas</th>
                    <th class="py-3 px-6 text-left">Idioma</th>
                    <!-- <th class="py-3 px-6 text-left">Classificação</th> -->
                    <th class="py-3 px-6 text-center">Ações</th>
                </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">
                <tr *ngFor="let book of bookList" class="border-b border-gray-200 hover:bg-gray-100">
                    <td class="py-3 px-6 text-left whitespace-nowrap">{{ book.title }}</td>
                    <td class="py-3 px-6 text-left">{{ book.authors?.join(', ') || 'Unknown Author' }}</td>
                    <td class="py-3 px-6 text-left">{{ book.categories?.join(', ') || 'No Category' }}</td>
                    <td class="py-3 px-6 text-left">{{ book.publishedDate }}</td>
                    <td class="py-3 px-6 text-left">{{ book.pageCount }}</td>
                    <td class="py-3 px-6 text-left">{{ book.language }}</td>
                    <!-- <td class="py-3 px-6 text-left">{{ book.rating }}</td> -->
                    <td class="py-3 px-6 text-center">
                        <a href="#" class="text-gray-400 hover:text-gray-800  mx-2">
                            <i class="material-icons-outlined text-base">edit</i>
                        </a>
                        <a href="#" class="text-gray-400 hover:text-gray-800  ml-2">
                            <i class="material-icons-round text-base">delete_outline</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>